
assignment3/.ipynb_checkpoints/genetic-checkpoint.ipynb
assignment3/.ipynb_checkpoints/hill-checkpoint.ipynb
assignment3/__pycache__/board.cpython-38.pyc
assignment4/.ipynb_checkpoints/n-airports-checkpoint.ipynb
